<div id="showcase">
  <section class="">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="" src="https://i.imgur.com/TlD7kX7.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img style="" src="https://i.imgur.com/ElyjWAe.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img style="" src="https://i.imgur.com/E9LSfm3.jpg" class="d-block w-100" alt="...">
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </section>
  <section id="video-play" class="mb-4">
    <div class="bg-secondary newBG">
      <!-- <div class="row"> -->
      <div class="container p-3 text-center text-white">
        <h4>Get ready to explore the depth of your mind</h4>
      </div>
      <!-- </div> -->
    </div>
  </section>


  <div class="container">
    <!-- <div class="row"> -->
    <!-- <div class="col-md-8 mb-4 text-center"> -->
    <!-- <section id="home-icons" class="py-5"> -->
    <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-4 mb-4 border-dark">
        <div class="row">
          <div class="col-md-12 mb-4 text-center border-dark">
            <div class="card boxShadow">
              <h4>You're at</h4>
              <a href="" data-toggle="modal" data-target="#exampleModalCenter">
                <i class=""></i><img class="fp-icons" src="https://i.imgur.com/9wxsKDa.png" alt=""></i>
                <h3>TartMus</h3>
              </a>
              <p>Listen to the Audio Gallery</p>
            </div>


          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-4 border-dark">
            <div class="media p-2  mb-2 boxShadow" v-for="visit in latest_visits">
              <a class="media-left media-middle" href="visit.picture">

                <img class="img-media media-object forumImage d-none d-sm-block" :src="visit.picture" alt="user">
                <img class="d-sm-none img-media media-object forumImage" style="width: 50px !important; height: 50px !important;"
                  :src="visit.picture" alt="user">
              </a>
              <div class="media-body">
                <h4 class="media-heading pl-2">
                  <strong class="float-left">{{visit.name}}</strong></h4>
                <br>
                <div class="px-2">{{visit.text}}</div>
                <div class="float-right"><a href="/museums"><strong>{{visit.mname}}</strong></a> </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-8 mb-4 text-center border-dark">
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1fyOc_6EhLNTWE8BFkXPJTYJQYnNmrsVv/preview"
              allowfullscreen></iframe>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-8 mx-auto">
                <div class="card box-shadow mx-auto">
              <h4>Browse</h4>
              <a href="/museums">
                <i class=""><img class="fp-icons" src="https://i.imgur.com/Utldq8J.png" alt=""></i>
                <h3>Museums</h3>
              </a>
              <p class="p-2">Find your next Experience</p>
            </div>
          </div>
          <div class="card-group">
            <!-- <div class="card boxShadow">
                  <img src="images\TartuArtHouse.jpg" class="w-100  card-img-top img-fluid" alt="...">
              </div> -->

        
            <!-- <div class="card boxShadow">
                <img src="images\TartuArtHouse.jpg" class="w-100 card-img-top img-fluid" alt="...">
            </div> -->
          </div>

          <!-- <div class="col-md-4 mx-auto mb-4 text-center">
                          <div class="card boxShadow">
                              <img src="images\TartuArtHouse.jpg" class="w-100  card-img-top img-fluid" alt="...">
                          </div>
                      </div>

            <div class="col-md-4 mx-auto mb-4 text-center">
              <div class="card box-shadow">
                <h4>Browse</h4>
              <a href="/museums">
                <i class=""><img class="fp-icons" src="https://i.imgur.com/Utldq8J.png" alt=""></i>
                <h3>Museums</h3>
              </a>
              <p>Find your next Experience</p>
              </div>
              
            </div>
            <div class="col-md-4 mx-auto mb-4 text-center">
                <div class="card boxShadow">
                    <img src="images\TartuArtHouse.jpg" class="w-100  card-img-top img-fluid" alt="...">
                </div>
            </div> -->


        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </section> -->

    <!-- video section
      <section id="video-play" class="ml-4">
        <div class="bg-secondary">
          <div class="row">
            <div class="container p-5 text-center text-white">
              <h1>Message of the day or smth</h1>
            </div>
          </div>
        </div>
      </section> -->
    <!-- </div> -->

    <!-- <div class="col-md-4 mb-4"> -->
    <!-- <div class="bg-secondary">
        <div class="row">
          <div class="container p-5 text-center text-white">
            <h5>Latest from friends</h5>
          </div>
        </div>
      </div> -->
    <!-- </section> -->
    <!-- <div class="card-body"> -->

    <!-- <div class="media p-2 ml-5 mr-4 mb-2 boxShadow" v-for="visit in latest_visits">
            <a class="media-left media-middle" href="visit.picture">

                <img class="img-media media-object forumImage d-none d-sm-block" :src="visit.picture"
                    alt="user">
                <img class="d-sm-none img-media media-object forumImage" style="width: 50px !important; height: 50px !important;"
                    :src="visit.picture" alt="user">
            </a>
            <div class="media-body">
                <h4 class="media-heading pl-2">
                    <strong class="float-left">{{visit.name}}</strong></h4>
                <br>
                <div class="px-2">{{visit.text}}</div>
                <div class="float-right">{{visit.mname}}, {{visit.date}} </div>
            </div>            
        </div> -->
    <!-- <button class="btn btn-primary btn-block" v-on:click="displayForm()">Leave feedback</button> -->
    <!-- <div class="media p-2 ml-5 mr-4 mb-2 boxShadow" v-for="visit in latest_visits">
          <a class="media-left media-middle" href="visit.picture">
            <img class="img-media media-object forumImage d-none d-sm-block" :src="visit.picture" alt="user">
            <img class="d-sm-none img-media media-object forumImage" style="width: 50px !important; height: 50px !important;"
              :src="visit.picture" alt="user">
          </a>
          <div class="pl-2 media-body">
            <h4 class="media-heading">
              <a class="float-right"><strong class="float-left">{{visit.name}}</strong>
                <br>
                <small class="float-left">{{visit.text}}</small><br><br>
                <small class="float-right">{{visit.mname}}, {{visit.date}}</small></h4></a>
            
          </div>
        </div> -->
    <!-- </div>      -->
    <!-- video section -->
    <!-- </div> -->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Exposition session</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class=" card text-center"></div>
          <img src='images\paintings\TKMTR4M4_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">

          <figure>
            <figcaption>Listen to the session:</figcaption>
            <audio controls src='images\paintings\file.mp3'>
              Your browser does not support the
              <code>audio</code> element.
            </audio>
          </figure>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>