<div class="container mt-4 mb-2" id="museumsearch">

    <div v-if="status===1">
        <!-- <div class="card boxShadow">
                        <div class="form-group">
                            <select class="form-control" name="" id="">
                                <option value="or">Opt1</option>
                                <option value="dd">Opt2</option>
            
                            </select>
                            <button class="btn btn-primary">Filter</button>
                        </div>
                    </div> -->

        <div class="card-group pt-4 mx-auto h-100 mx-auto text-center mt-4 boxShadow">
            <div class="col-md-4 mb-4" v-for="item in museums">

                <div class="card boxShadow">
                    <!-- w-100  card-img-top img-fluid -->
                    <img :src="item.picture" v-on:click="getMuseum(item.id)" class="w-100  card-img-top img-fluid" alt="...">
                    <!-- <img :src="item.picture" class="card-img-top m-list-img" alt="..."> -->
                    <div class="card-body"><a href="#" class="blogLink">
                            <h5 class="card-title" v-on:click="getMuseum(item.id)">{{item.name}}</h5>
                        </a></div>
                    <!-- <div class="card-footer">
                                        
                                        <p class="card-text">{{item.shortdesc}}</p>
                                         <a href="#" class="btn btn-primary btn-block" v-on:click="getMuseum(item.id)">View Profile</a>
                                    </div> -->
                </div>

            </div>

        </div>
    </div>



    <!----------------------museum page------------------------->

    <div v-if="status===2">
        <div class="row">
            <div class="col-lg-4">
                <div v-if="feedStatus==0">
                    <div class="card boxShadow text-center my-2">
                        <div class="card-text p-2">
                            <img :src='museum.picture' class="img-fluid galleryImages  mx-auto d-block" alt="">
                        </div>
                    
                    <button class="btn btn-primary m-2" v-on:click="displayForm()">Leave feedback</button>
                    <!-- <button class="btn btn-primary m-2" v-on:click="goBackFromDetails()">Go back</button> -->
                    <br>
                    <!--Gallery-->
                    <div class="card-text font-weight-bold p-4">
                        <h4 class="pb-3"><b><small class="text-muted text-sm-center text-md-left text-lg-left text-xl-left">Click on an image to find out more</small></b></h4>
                            <!-- <p class="text-center ">Click on an image to find out more</p> -->
                                <div class="row mb-4">                                    
                                        <div class="col-md-6">
                                            <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR4M4_1.JPG'>
                                                <img src='images\paintings\TKMTR4M4_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                            </a>
                                        </div>  
                                        <div class="col-md-6">
                                                <a data-fancybox="gallery" v-on:click="goBackFromDetails()"  href='#' data-toggle="lightbox">
                                                    <img src='images\paintings\TKMTR61M30_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                                </a>
                                            </div>                                 
                                </div>
                                <div class="row mb-4">                                    
                                        <div class="col-md-6">
                                            <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR147M64_1.JPG' data-toggle="lightbox">
                                                <img src='images\paintings\TKMTR147M64_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                            </a>
                                        </div>  
                                        <div class="col-md-6">
                                                <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR301M90_1.jpg' data-toggle="lightbox">
                                                    <img src='images\paintings\TKMTR301M90_1.jpg' class="img-fluid galleryImages mx-auto d-block" alt="">
                                                </a>
                                            </div>                                 
                                </div>
                                <div class="row mb-4">                                    
                                        <div class="col-md-6">
                                            <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR150M68_1.JPG' data-toggle="lightbox">
                                                <img src='images\paintings\TKMTR150M68_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                            </a>
                                        </div>  
                                        <div class="col-md-6">
                                                <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR307M96_1.JPG' data-toggle="lightbox">
                                                    <img src='images\paintings\TKMTR307M96_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                                </a>
                                            </div>                                 
                                </div>
                                <div class="row mb-4">                                    
                                        <div class="col-md-6">
                                            <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR354M120_1.JPG' data-toggle="lightbox">
                                                <img src='images\paintings\TKMTR354M120_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                            </a>
                                        </div>  
                                        <div class="col-md-6">
                                                <a data-fancybox="gallery" data-toggle="modal" data-target="#exampleModalCenter" href='images\paintings\TKMTR390M137_1.JPG' data-toggle="lightbox">
                                                    <img src='images\paintings\TKMTR390M137_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">
                                                </a>
                                            </div>                                 
                                </div>
                                
                            
                        </div>
                    </div>

                </div>

                <div v-if="feedStatus==1">
                    <div class="card my-2 boxShadow">
                        <div class="card-body p-2">
                            <label for="overall">Overall impression</label>
                            <select v-model="overall" name="overall" class="form-control my-1" name="overall" id="">
                                <option value="" selected>Choose rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label for="friendloness">User-friendliness</label>
                            <select v-model="friendliness" name="friendliness" class="form-control my-1" name="friendliness"
                                id="">
                                <option value="" selected>Choose rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label for="thoughts">What did you think about the visit?</label>
                            <textarea v-model="text" class="form-control my-1" name="thoughts" id="" placeholder="Your thoughts"
                                cols="30" rows="8"></textarea>
                            <button class="btn btn-primary btn-block" v-on:click="saveFeedback()">Save</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="card my-2 text-center text-sm-center text-md-left text-lg-left text-xl-left boxShadow">

                    <div class="card-body">
                        <div class="card-title">
                            <h1>{{museum.name}}</h1>
                        </div>
                        <br>
                        <div class="card-text">
                               <h4><small class="text-muted">{{museum.longdesc}}</small></h4> 
                        </div>                        
                        <br>
                        <div class="card-text">
                            <h4>Country: <small class="text-muted">
                                    {{museum.country}}
                                </small></h4>
                            <h4>Rating: <small class="text-muted">
                                    <i class="fa fa-star">{{score}}/10</i>
                                </small></h4>

                            <h4>Address: <small class="text-muted">
                                    {{museum.address}}
                                </small></h4>
                            <h4>Open times: <small class="text-muted">
                                    {{museum.opentimes}}
                                </small></h4>
                            <h4>Tickets: <small class="text-muted">
                                    {{museum.tickets}}
                                </small></h4>
                        </div>
                        <br>
                        
                    </div>
                    <br>
                    <div class="card-body">
                        <br>
                        <div class="media p-2 ml-5 mr-4 mb-2 boxShadow" v-for="visit in visits">
                            <a class="media-left media-middle" href="visit.picture">

                                <img class="img-media media-object forumImage d-none d-sm-block" :src="visit.picture"
                                    alt="user">
                                <img class="d-sm-none img-media media-object forumImage" style="width: 50px !important; height: 50px !important;"
                                    :src="visit.picture" alt="user">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading pl-2">
                                    <small class="float-right">{{visit.date}}</small><strong>{{visit.name}}</strong></h4>
                                <br>
                                <div class="px-2">{{visit.text}} <br> <strong class="float-right"> Score:
                                        {{visit.score}}/10</strong> </div>
                            </div>
                            <!-- <button class="btn btn-primary btn-block" v-on:click="displayForm()">Leave feedback</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <!--popup thingy-->
            <!-- Button trigger modal -->      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Exposition session</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class=" card text-center"></div>
                <img src='images\paintings\TKMTR4M4_1.JPG' class="img-fluid galleryImages mx-auto d-block" alt="">

                    <figure>
                            <figcaption>Listen to the session:</figcaption>
                            <audio
                                controls
                                src='images\paintings\file.mp3'>
                                    Your browser does not support the
                                    <code>audio</code> element.
                            </audio>
                        </figure>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
        </div>