#main{
    margin-top: 56px;
}

#mid-section{
    
    position:relative;
    min-height:200px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position: 0 -300px;
    text-align:center;
    color:#fff;
}

#opacity{
    opacity: 50% !important;
}

.dark-overlay{
    position:absolute;
    background-color:rgba(0,0,0,0.7);
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

.fp-icons{
    max-height: 70px;
}

.m-list-img{
    max-height: 200px;
}

.forumImage {
    object-fit: cover;
    width:50px;
    height:50px;
    border-radius: 50%;
  }
  .boxShadow{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  }
  .blogHR{
    color: #58ABC9;
    background-color: #58ABC9;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.blogLink{
    text-decoration: none !important;
    color:#212529 !important;
  }
.navbar{
    background-color: #555B6E !important;
}
.newBG{
    background-color: #555B6E !important;
}

.newBGFooter{
    background-color: rgb(225, 226, 231) !important;
}

body{
    background-color: #FAF9F9 !important;
}

.galleryImages {
    object-fit: cover;
    width:100%;
    height:100%;
  }