<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>ART and SOUL</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/paintings/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top boxShadow mb-4">
      <div class="container">
        <a class="navbar-brand mainLogo" href="/">

          <img class="mainLogo d-none d-md-block" style="max-height: 75px; margin-top: -10px; margin-bottom: -10px;" src="images\paintings\artandsoul.png" type="image/png" alt="">


        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav font-weight-bold ml-auto" id="nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/museums">Museums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Iast Enthus</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" id="main" class="flex-shrink-0">

    <%= render @view_module, @view_template, assigns %>

  </main>

  <footer class="footer bg-dark mt-auto newBG">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 mx-auto">
          <p class="text-white p-3 mt-2">ART and SOUL &copy;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- <footer class="footer text-center bg-dark text-white p-4 mt-2">
      <div class="container">
         <div class="row text-center">
            <div class="col-md-6 mx-auto">
               <h4 class="">MuseumSeeker &copy;
                  <script type="text/javascript">
                     document.write(new Date().getFullYear());
                  </script>
               </h4>
            </div>
         </div>
      </div>
   </footer> -->
   
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>